{% extends "admin/index.html" %}
{% load i18n %}

{% block sidebar %}
<div id="content-related" style="width:300px; margin-right:-350px">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        {# <h3>{% trans 'For All Admins' %}</h3>             {# Title hidden #}
            {% load log %}
            {% get_admin_log 50 as admin_log %}         {# No more user filtering #}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    {# Added the author here, at the end. Also removed "mini quiet" class #}
                    <span class="">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}, by <b>{{ entry.user }}</b></span>
                {% else %}
                    <span class="">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}