
{% load staticfiles %}

<head>
    <title>Inventory</title>
    <link rel="StyleSheet" type="text/css" href="{% static 'xerocraft/common.css' %}"/>
</head>

<body>
    <img src="{% static 'xerocraft/Big Bold X.png' %}" alt="Xerocraft Logo"/>
    <h1>Xerocraft<br/>Inventory<br/>System</h1>

    <h2>Your Stuff</h2>
    <ul>
        <li><a href="{% url 'inv:list-my-permits'%}">List all my permits</a></li>
        <li><a href="{% url 'inv:request-permit'%}">Request a new parking permit</a></li>
    </ul>

    <h2>Xerocraft's Stuff</h2>
    <ul>
        <li><a href="">Report a problem, brakedown, etc.</a></li>
        <li><a href="">Find a tool, material, etc.</a></li>
    </ul>

    <h2>Other</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">Report an uncategorized item.</a></li>
    </ul>


</body>



