<!DOCTYPE html>

{% load tasks_extras %}

<html lang="en">
<head>
    <title>Task Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
    <style>
        body { text-align: center; font-family:"Roboto Condensed"; font-size:12pt; }
        ul { margin-top: 0pt; }
        p { margin:0; }
        #short_desc { font-size:16pt; }
        #instructions { margin-top:10px; color:blue; }
        table { border-collapse: collapse; }
        td {border:1px; padding-top:15px}
        .n { font-size:11pt; text-decoration:underline; }
    </style>

</head>
<body>
    <p id="short_desc">{{task.short_desc}}</p>
    <p>Scheduled {{task.scheduled_date|date:"D M d"}}</p>
    <p>{{task.work_start_time}} for {{task.work_duration|duration_str}}</p>

    <p id="instructions">{{task.instructions}}</p>
    <table width="100%" align="center">
        <tr>
            <td width="33%"><span class="n">Owner</span><br/>{{task.owner}}</td>
            <td width="33%"><span class="n">Reviewer</span><br/>{{task.reviewer}}</td>
            <td width="33%"><span class="n">Deadline</span><br/>
                {% if task.scheduled_date != None %}
                    N/A
                {% else %}
                    {{task.deadline}}
                {% endif %}</td>
        </tr>
        <tr>
            <td width="33%"><span class="n">Status</span><br/>{{task.status}}</td>
            <td width="33%"><span class="n">Priority</span><br/>{{task.priority}}</td>
            <td width="33%"><span class="n">Estimate</span><br/>{{task.work_duration|duration_str}}</td> <!-- TODO: Change this to work time window -->
        </tr>
    </table>
    {% for note in notes %}
        <!-- TODO: Links to notes? -->
    {% endfor %}
</body>
</html>