{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'xerops/sweetalert.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'xerops/sweetalert.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'members/kiosk.css' %}"> Already loaded -->

<script>
    function workTask(task,desc) {
        swal(
            {
                title: "Confirm Task Selection",
                text: desc,
                type: "warning",
                confirmButtonText: "Yes",
                showCancelButton: true,
                cancelButtonText: "No",
                closeOnConfirm: false,
                allowOutsideClick: true,
                allowEscapeKey: true
            },
            function(isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "GET",
                        url: "/tasks/will-work-now/"+task+"_{{member_card_str}}/",
                        context: document.body,
                        dataType: "json",
                        success: function(data, textStatus, jqXHR) {
                            if (data.hasOwnProperty('success')) {
                                swal(
                                    {
                                        title: "Thanks!",
                                        text: data.success,
                                        type: "success",
                                    },
                                    function(){ location.reload(true); }
                                );
                            }
                            else {
                                swal("Uh oh...", data.error+"\nContact the Volunteer Coordinator.", "error");
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            swal("Uh oh...", "Problem communicating with Work-Trade system.\nContact the Volunteer Coordinator.\n(Details: "+errorThrown+")", "error");
                        }
                    });
                }
            }
        );
    }

    function doneTask(task,desc) {
        swal(
            {
                title: "Confirm Task is Done",
                text: desc,
                type: "warning",
                confirmButtonText: "Yes",
                showCancelButton: true,
                cancelButtonText: "No",
                closeOnConfirm: false,
                allowOutsideClick: true,
                allowEscapeKey: true
            },
            function(isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "GET",
                        url: "/tasks/record_work/"+task+"_{{member_card_str}}/",
                        context: document.body,
                        dataType: "json",
                        success: function(data, textStatus, jqXHR) {
                            if (data.hasOwnProperty('success')) {
                                swal(
                                    {
                                        title: "Thanks!",
                                        text: data.success,
                                        type: "success",
                                    },
                                    function(){ location.reload(true); }
                                );
                            }
                            else {
                                swal("Uh oh...", data.error+"\nContact the Volunteer Coordinator.", "error");
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            swal("Uh oh...", "Problem communicating with Work-Trade system.\nContact the Volunteer Coordinator.\n(Details: "+errorThrown+")", "error");
                        }
                    });
                }
            }

        );
    }

</script>

<style>

    .choice_button {
        font-weight: 300;
        padding: 8px 12px;
        margin: 10px 5px 0 5px;
    }

</style>


{% if working_today %}

    <p style="margin-top:0px; margin-bottom:5px;">You are currently working the task{{working_today|length|pluralize}} below.
        <br/>Click on {{working_today|length|pluralize:"the,a"}} task for detailed info.
    </p>
    {% for task, desc in working_today %}
        <span class="choice_button"><a href="/tasks/kiosk-task-details/{{task.pk}}/">{{desc}}</a></span><br/>
    {% endfor %}

{% else %}


    {% if claimed_today or unclaimed_today or unclaimed_anytime %}
        <p style="margin-top:0px; margin-bottom:5px;">If you're volunteering, pick a task:</p>
    {% endif %}

    {% if claimed_today %}
        {% for task, desc in claimed_today %}
            <span class="choice_button"><a
               onclick="workTask({{task.pk}},'{{desc}}'); return false;"
               href="javascript:{}">{{desc}}</a></span><br/>
        {% endfor %}

    {% elif unclaimed_today %}
        {% for task, desc in unclaimed_today %}
            <span class="choice_button"><a
               onclick="workTask({{task.pk}},'{{desc}}'); return false;"
               href="javascript:{}">{{desc}}</a></span><br/>
        {% endfor %}

    {% elif unclaimed_anytime %}
        {% for task, desc in unclaimed_anytime %}
            <span class="choice_button"><a
               onclick="workTask({{task.pk}},'{{desc}}'); return false;"
               href="javascript:{}">{{desc}}</a></span><br/>
        {% endfor %}
    {% endif %}

{% endif %}
