{% extends "bzw_ops/email-base.html" %}

{% block title %}Verify{% endblock %}

{% block body %}
    <p>
        {% if claimant.first_name %}Hi {{claimant.first_name}}!{% endif %}
        You are currently the default assignee for the following upcoming task:
    </p>
      <h3>
          {{task.short_desc}}<br/>
          {{dow}} @ {{claim.claimed_start_time}}<br/>
      </h3>
    <p>
        Will you be able to complete the task?<br/>
        <a id="Y" href="{{host}}{% url 'task:verify-claim' task.pk claim.pk 'Y' auth_token %}">Yes, I'll be there!</a><br/>
        <a id="N" href="{{host}}{% url 'task:verify-claim' task.pk claim.pk 'N' auth_token %}">No, I can't make it this time</a><br/>
    </p>
    <p>
        If you have any questions or would like to adjust your schedule, please contact:<br/>
        <a href="mailto:volunteer@xerocraft.org">volunteer@xerocraft.org</a>
    </p>
{% endblock %}
