{% extends "members/kiosk-base.html" %}
{% load staticfiles %}
{% load tasks_extras %}

{% block title %}Task Info{% endblock %}

{% block extra_fonts %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto Condensed">
{% endblock %}

{% block style %}
    #info_table { color: blue; }
    ul { margin-top: 0pt; }
    p { margin:0; }
    #instructions { font-family:Roboto Condensed; margin-top:5px; color:blue; font-style:normal; }
    table { border-collapse: collapse; }
    td {border:1px; padding-top:15px}
    .n { font-size:11pt; text-decoration:underline; }
    img { width:60px; margin-right:0pt; margin-top:0pt; }
{% endblock %}

{% block content %}
    <h2 id="short_desc">{{task.short_desc}}</h2>

    {% if task.deadline %}
    <p>Finish By {{task.deadline|date:"D M d"}}</p>
    {% endif %}

    {% if task.scheduled_date %}
    <p>Scheduled {{task.scheduled_date|date:"D M d"}}</p>
    {% endif %}

    {% if task.work_start_time and task.work_duration %}
    <p>{{task.work_start_time}} for {{task.work_duration|duration_str}}</p>
    {% endif %}

    <table width="450" align="center" id="info_table">
        <tr><td colspan="3"><p id="instructions">{{task.instructions}}</p></td></tr>
        <tr>
            <td width="33%"><span class="n">Owner</span><br/>{{task.owner}}</td>
            <td width="33%"><span class="n">Reviewer</span><br/>{{task.reviewer}}</td>
            <td width="33%"><span class="n">Max Workers</span><br/>{{task.max_workers}}</td>
        </tr>
        <tr>
            <td width="33%"><span class="n">Priority</span><br/>{{task.priority}}</td>

            <td width="33%">
                {% if notes %}
                    <a href="/todo">
                        <span class="choice_button" style="margin-top:0px">
                            <span class="n">Notes</span><br/>{{notes|length}}
                        </span>
                    </a>
                {% else %}
                    <span class="n">Notes</span><br/>None
                {% endif %}
            </td>

            <td width="33%"><span class="n">Effort Est</span><br/>{{task.max_work|duration_str}}</td>
        </tr>
    </table>
    <br/>
    <p>Remove your card when done.</p>
{% endblock %}
