<!DOCTYPE html>

{% load staticfiles %}

<html lang="en" style="overflow-y: scroll;">
<head>
    <meta charset="UTF-8">
    <title>Ops Calendar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto Condensed">

    <!-- MDL -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500|Roboto+Mono|Roboto+Condensed:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.min.css" />

    <script src="/static/tasks/js.cookie.js"></script>
</head>
<body style="margin:0; background-color: #f8f8f8">
    <div id="myContainer"></div>
    <script src="{% static 'tasks/OpsCalendar.min.js' %}"></script>
    <script>
        var csrfToken = Cookies.get('csrftoken');
        var restUrls = {
            "claimListUrl":          "{% url 'task:claim-list' %}",
            "discoveryMethodsUrl":   "{% url 'memb:discoverymethod-list' %}",
            "memberListUrl":         "{% url 'memb:member-list' %}",
            "membershipListUrl":     "{% url 'memb:membership-list' %}",
            "taskListUrl":           "{% url 'task:task-list' %}",
            "timeBlocksUrl":         "/ops/api/time_blocks/",
            "timeBlockTypesUrl":     "/ops/api/time_block_types/",
            "workListUrl":           "{% url 'task:work-list' %}",
            "workNoteListUrl":       "{% url 'task:worknote-list' %}",
        };
        var flags = {
            "xisRestFlags": restUrls,
            "month": {{ month }},
            "year": {{ year }}
        };
        var myContainer = document.getElementById("myContainer");
        var app = Elm.OpsCalendar.embed(myContainer, flags);
    </script>
</body>
</html>
