<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members vs Date</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Date", "Regular", "Family", "Work-Trade", "Groups", "Comp"],
          {% for theDate, regCount, famCount, wtCount, grpCount, compCount in data %}
            [new Date({{theDate}}),{{regCount}},{{famCount}},{{wtCount}},{{grpCount}},{{compCount}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Members vs Date',
          legend: { position: 'bottom' },
          vAxis: {
            minValue: 0
          },
          isStacked: true
        };

        var chart = new google.visualization.SteppedAreaChart(document.getElementById('the_chart'));

        chart.draw(data, options);
      }
    </script>

</head>
<body>
    <div id="the_chart" style="width:100%; height:768px; text-align:center;"></div>
</body>
</html>