<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Earned Membership Revenue</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      daysInMonth = [31,28,31,30,31,30,31,31,30,31,30,31];
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Month", "Earned"],
          {% for theYear, theMonth, amtEarned in data %}
            [new Date({{theYear}}, {{theMonth}}-1, 1), {{amtEarned}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Earned Membership Revenue vs Month',
          legend: { position: 'bottom' },
          vAxis: {
            minValue: 0
          },
          isStacked: true,
          pointSize:10,
        };

        var chart = new google.visualization.AreaChart(document.getElementById('the_chart'));

        chart.draw(data, options);
      }
    </script>

</head>
<body>
    <div id="the_chart" style="width:1280px; height:768px; text-align:center;"></div>
</body>
</html>