<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Commitment</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Member", "Percent"],
          {% for username, paid_count in data %}
            ['{{username}}',{{paid_count}}],
          {% endfor %}
        ]);

        var options = {
          legend: 'none',
          vAxis: { format:'decimal', gridlines: {count:7}},
          hAxis: { format:'decimal'},
          width: 1280-200,
          height: 768-200,
          chartArea: {width: '90%', height: '90%'},
        };

        var chart = new google.visualization.Histogram(document.getElementById('the_chart'));

        chart.draw(data, options);
      }
    </script>

</head>
<body style="padding-left:50px; font-family:Tahoma, Geneva, sans-serif">
<h1>Support through Memberships ({{year}})</h1>
    <div id="intro_text" style="width:750px">
        <p>
            In the following histogram, each block represents a member and the block appears in a bin
            indicating the portion (%) of the year that the member had a paid membership.
            This analysis includes Work-Traders.
        </p>
    </div>
    <div id="the_chart" style="width:1000px; height:95%; padding-left:50px; text-align:center;"></div>
    <div style="width:750px">
        <br/>{{year}} Summary:
        <ul>
            <li>There were {{total_visitors}} unique visitors.
            <li>
                {{partially_paid_count}} ({% widthratio partially_paid_count total_visitors 100.0 %}%)
                of them paid for <b>some of</b> the year.
            <li>
                {{fully_paid_count}} ({% widthratio fully_paid_count total_visitors 100.0 %}%)
                of them paid for <b>the entire</b> year.
            </li>
        </ul>
    </div>
</body>
</html>