<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Members vs Date</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Regular', "Work-Trade", "Groups", "Complimentary"],
          {% for theDate, regCount, wtCount, grpCount, compCount in data %}
            [new Date({{theDate}}),{{regCount}},{% if wtCount %}{{wtCount}}{% else %}null{% endif %},{% if grpCount %}{{grpCount}}{% else %}null{% endif %},{% if compCount %}{{compCount}}{% else %}null{% endif %}],
          {% endfor %}
        ]);

        var options = {
          title: 'Members vs Date',
          legend: { position: 'bottom' },
          vAxis: {
            minValue: 0
          },
          isStacked: true
        };

        var chart = new google.visualization.SteppedAreaChart(document.getElementById('the_chart'));

        chart.draw(data, options);
      }
    </script>

</head>
<body>
    <div id="the_chart" style="width:1280px; height:768px; text-align:center;"></div>
</body>
</html>