<!DOCTYPE html>

{% load static %}

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Kiosk{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700">
        {% block extra_fonts %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'members/kiosk.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'bzw_ops/favicon.ico' %}"/>
    </head>

    <style>
        {% block style %}{% endblock %}
    </style>

    <script type="text/javascript">
        {% block script %}
            // This handles QR data coming from webcam.
            function handleQR(data) { /* Do nothing */ }
        {% endblock %}
    </script>

    <body class="unselectable">
        {% block content %}{% endblock %}
    </body>

</html>