
{% load staticfiles %}

<html>
<head>
    <title>Checked In</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald">

    <style>
        html, body { height:100%; }
        html { display:table; margin:auto; }
        body { display:table-cell; vertical-align:middle; text-align:center; }
        h1 { font-family:Oswald; font-size:24pt; margin-top:0px; margin-bottom:0px }
        h2 { font-family:Oswald; font-size:18pt; margin-top:0px; }
        img { width:40; margin-right:0pt; margin-top:0pt; }

    </style>
</head>

<body>
    <img src="{% static 'xerocraft/Big Bold X.png' %}" alt="Xerocraft Logo"/>
    <h1>You have checked in!</h1>
    <h2>userid: {{ username }}</h2>
</body>
</html>


