{% extends "members/kiosk-base.html" %}
{% load staticfiles %}

{% block title %}Choose Member{% endblock %}

{% block style %}
    img { width:40px; margin-right:0pt; }
{% endblock %}

{% block script %}
    // This handles QR data coming from webcam.
    function handleQR(data) {
        //TODO: Following is hard coded to member_details but should use next_url instead.
        window.location.href = "../../member-details/"+data+"_"+"{{ staff_card_str }}"+"/";
    }
{% endblock %}

{% block content %}
    <h1><img src="{% static 'xerops/Big Bold X.png' %}" alt="Xerocraft Logo"/>erocraft Staff</h1>

    <p>
        Place the member's card on top of your card.<br/>
        Be sure to cover your QR code with the member's QR code.
    </p>
{% endblock %}
