{% extends "members/kiosk-base.html" %}
{% load staticfiles %}

{% block title %}{{ action|capfirst }}{% endblock %}

{% block style %}
    h3 { font-size:14pt; margin-top:0px; margin-bottom:0px; }
    img { width:60px; margin-right:0pt; margin-top:0pt; }
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
    <img src="{% static 'xerocraft/Big Bold X.png' %}" alt="Xerocraft Logo"/>
    <h1>You have {{ action }}!</h1>
    <br/>
    {{ extra_content|safe }}
    <p>Remove your card when done.</p>
{% endblock %}
