{% extends "members/kiosk-base.html" %}
{% load staticfiles %}

{% block title %}Kiosk{% endblock %}

{% block style %}
    img { width:40px; margin-right:0pt; }
{% endblock %}

{% block script %}
    // This handles QR data coming from webcam.
    function handleQR(data) {
        window.location.href = "../main-menu/"+data+"/";
    }
{% endblock %}

{% block content %}
    <h1><img src="{% static 'xerops/Big Bold X.png' %}" alt="Xerocraft Logo"/>erocraft Kiosk</h1>

    <p>
        Place your membership card on the scanner.<br/>
        Be sure to cover the scanner's QR code with your card's QR code.
    </p>
{% endblock %}
