{% extends "members/kiosk-base.html" %}
{% load staticfiles %}

{% block title %}Staff Menu{% endblock %}

{% block style %}
    img { width:40px; margin-right:0pt; margin-top:0pt; }
    .choice_button { /* Default is in members/kiosk.css */
        margin: 10px 5px 5px 5px;
    }
{% endblock %}

{% block content %}
    <h1><img src="{% static 'xerops/Big Bold X.png' %}" alt="Xerocraft Logo"/>erocraft Staff</h1>
    <h2>Hello, {{memb_fname}}! Choose an option:</h2>
    <span class="choice_button">
        <!-- TODO: href below does not specify actual next_url. -->
        <a href="{% url 'memb:kiosk-identify-subject' staff_card_str=memb_card_str next_url='spam' %}">
            View/Edit Member
        </a>
    </span>
    <br/>
    <span class="choice_button"><a href="">Control Power</a></span>
{% endblock %}
