
{% load staticfiles %}

<head>
    <title>Member Details</title>

    <style>
        body { margin-left:20pt; margin-right:20pt; }
        h1 { font-family:Arial Narrow; font-size:24pt; margin-top:50px; }
        h2 { font-family:Arial Narrow; font-size:14pt; margin-top:20px; }
        ul { font-family:Arial; font-size:10pt; }
        img { width:40; margin-right:0pt; }
        td { vertical-align:top; text-align:center; }
    </style>

</head>

<body style="text-align:center">
    <img style="width:40; margin-right:0pt; margin-top:60pt" src="{% static 'xerocraft/Big Bold X.png' %}" alt="Xerocraft Logo"/>
    <h1>You have checked in!</h1>
    <p>Member Details</p>
</body>



