{% extends 'admin/base.html' %}
{% load i18n l10n admin_urls %}
{% block branding %}<h1 id="site-name">Xerocraft Django Admin</h1>{% endblock %}

{% block extrastyle %}
    <style>
        tr:nth-child(even) {background-color: #f2f2f2}
        th {
            font-size: 10pt;
            font-weight: normal;
            background-color: #79aec8;
            color: white;
        }
        .right {
          text-align: right;
          margin-right: 1em;
          padding:0 10px 0 10px;
        }

        .left {
          text-align: left;
          margin-left: 1em;
          padding:0 10px 0 10px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' 'books' %}">Books</a> &rsaquo;
        Acct History
    </div>
{% endblock %}

{% block content %}

        <h2>Activity on "{{acct.name}}" for period {{begin_date}} to {{ end_date }}</h2>
        Summary over period:<br/>
        <div style="padding-left:20px; padding-bottom:15px; line-height:1em;">
            Total increases: {{ increase_total }}<br/>
            Total decreases: {{ decrease_total }}<br/>
            Total net change: {{ change_total }}<br/>
        </div>
        Details for period:<br/>
        <table style="margin-left:20px;">
        <tr>
            <th class="left">Date</th>
            <th class="right">Decrease</th>
            <th class="right">Increase</th>
            <th class="left">Description</th>
        </tr>
        {% for jeli in jelis %}
            <tr>
                <td class="left">{{jeli.journal_entry.when}}</td>
                <td class="right">{% if jeli.sign < 0 %}<a href="{{jeli.journal_entry.source_url}}">{{jeli.amount}}</a>{% endif %}</td>
                <td class="right">{% if jeli.sign > 0 %}<a href="{{jeli.journal_entry.source_url}}">{{jeli.amount}}</a>{% endif %}</td>
                <td class="left">{{jeli.description}}</td>
            </tr>
        {% endfor %}
        <tr>
            <th class="left">Totals 🡺</th>
            <th class="right">{{decrease_total}}</th>
            <th class="right">{{increase_total}}</th>
            <th class="right">&nbsp;</th>
        </tr>
        </table>

{% endblock %}