<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Balances vs Date</title>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawBalanceChart);

      function drawBalanceChart() {
        drawChart(false, "chart", "Balance vs Date", ["Date", "Balance"],
          [{% for theDate, theBalance in xis_pts %}
            [new Date('{{theDate}}'), {{theBalance}}],{% endfor %}
          ]
        )
      }

      function drawChart(includeTrend, theDivId, title, columnNames, xis_pts) {
        var data = google.visualization.arrayToDataTable(
          [columnNames].concat(xis_pts)
        );

        var options = {
          title: title,
          legend: { position: 'none' },
          series: {
            1: {
              lineDashStyle: [5, 5],
              lineWidth: 3,
              color: 'green'
            }
          }
        };

        if (includeTrend) {
          options['trendlines'] =
          {
            0: {
              type: 'linear',
              degree: 3,
              lineWidth: includeTrend ? 20 : 0,
              opacity: 0.2,
              color: 'gray'
            }
          };
        }

        var chart = new google.visualization.LineChart(document.getElementById(theDivId));
        chart.draw(data, options);
      }

    </script>


</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <br/>
    <div id="chart" style="height:768px"></div>
    <div style="margin-top:10px" align="center">
        <a href="/director-menu">Return to Director's Menu</a>
    </div>
</body>
</html>