<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cash on Hand vs Date</title>

    <style>

        /* Style the tab content */
        .chartContent {
            padding: 6px 12px;
            margin: 0 50px;
            border: 1px solid #ccc;
            height:768px;
        }

    </style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(showChart);

      function drawChart(theDivId, title, columnNames, cashPts, bankPts) {
      }

      function showChart() {
        var cashPts = [{% for x, y in cash %}[new Date('{{x}}'), {{y}}],{% endfor %}];
        var bankPts = [{% for x, y in bank %}[new Date('{{x}}'), {{y}}],{% endfor %}];

        var cashData = google.visualization.arrayToDataTable([["Date","Books"]].concat(cashPts));
        var bankData = google.visualization.arrayToDataTable([["Date","Bank"]].concat(bankPts));

        var joinedData = google.visualization.data.join(cashData, bankData, 'left', [[0,0]], [1], [1]);

        var options = {
          title: "Cash-on-Hand vs Time",
          legend: { position: 'bottom' },
          series: {
            0: {
              lineWidth: 3,
              color: 'blue'
            },
            1: {
              lineWidth: 3,
              color: 'green'
            }
          }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chartId'));
        chart.draw(joinedData, options);

      }

    </script>



</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <br/>
    <div align="center" class="chartContent" id="chartId">
    </div>
    <div style="margin-top:10px" align="center">
        <a href="/accounting-menu">Return to Accounting Menu</a>
    </div>
</body>
</html>