<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chart of Accounts</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/css/jquery.treetable.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/css/jquery.treetable.theme.default.min.css" rel="stylesheet" type="text/css" />
    <style>
        #coa { width:auto; margin-left:30px; margin-top:30px; }
        .acctname { }
        .acctpk { text-align:right; }
        .accttype { font-weight: bold; }
    </style>
</head>

<body style="font-family: Arial, Helvetica, sans-serif;">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <table id="coa" class="treetable" style="width:auto"><tbody>
        <tr class="accttype" data-tt-id="asset"><td colspan="3">Asset Accounts</td></tr>
        {% for acct in asset_accts %}
            <tr data-tt-id="{{acct.pk}}" data-tt-parent-id="{{acct.parent_id|default:"asset"}}">
                <td class="acctname" title='{{acct.description}}'>{{acct.name}}</td>
                <td class="acctpk"><a href="{% url 'books:account-history' acct.pk %}">{{acct.pk}}</a></td>
                <td class="acctmgr">{{acct.manager|default:"-"}}</td>
            </tr>
        {% endfor %}

        <tr class="accttype" data-tt-id="expense"><td colspan="3">Expense Accounts</td></tr>
        {% for acct in expense_accts %}
            <tr data-tt-id="{{acct.pk}}" data-tt-parent-id="{{acct.parent_id|default:"expense"}}">
                <td class="acctname" title='{{acct.description}}'>{{acct.name}}</td>
                <td class="acctpk"><a href="{% url 'books:account-history' acct.pk %}">{{acct.pk}}</a></td>
                <td class="acctmgr">{{acct.manager|default:"-"}}</td>
            </tr>
        {% endfor %}

        <tr class="accttype" data-tt-id="liability"><td colspan="3">Liability Accounts</td></tr>
        {% for acct in liability_accts %}
            <tr data-tt-id="{{acct.pk}}" data-tt-parent-id="{{acct.parent_id|default:"liability"}}">
                <td class="acctname" title='{{acct.description}}'>{{acct.name}}</td>
                <td class="acctpk"><a href="{% url 'books:account-history' acct.pk %}">{{acct.pk}}</a></td>
                <td class="acctmgr">{{acct.manager|default:"-"}}</td>
            </tr>
        {% endfor %}

        <tr class="accttype" data-tt-id="equity"><td colspan="3">Equity Accounts</td></tr>
        {% for acct in equity_accts %}
            <tr data-tt-id="{{acct.pk}}" data-tt-parent-id="{{acct.parent_id|default:"equity"}}">
                <td class="acctname" title='{{acct.description}}'>{{acct.name}}</td>
                <td class="acctpk"><a href="{% url 'books:account-history' acct.pk %}">{{acct.pk}}</a></td>
                <td class="acctmgr">{{acct.manager|default:"-"}}</td>
            </tr>
        {% endfor %}

        <tr class="accttype" data-tt-id="revenue"><td colspan="3">Revenue Accounts</td></tr>
        {% for acct in revenue_accts %}
            <tr data-tt-id="{{acct.pk}}" data-tt-parent-id="{{acct.parent_id|default:"revenue"}}">
                <td class="acctname" title='{{acct.description}}'>{{acct.name}}</td>
                <td class="acctpk">{{acct.pk}}</td>
                <td class="acctmgr">{{acct.manager|default:"-"}}</td>
            </tr>
        {% endfor %}

    </tbody></table>


    {# TreeTable stuff must be before body close tag. #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-treetable/3.2.0/jquery.treetable.min.js"></script>
    <script>
        $("#coa").treetable({ expandable: true, indent: 19 });
    </script>
</body>

</html>