{% extends 'admin/base.html' %}
{% load i18n l10n admin_urls %}
{% block branding %}<h1 id="site-name">Xerocraft Django Admin</h1>{% endblock %}

{% block extrastyle %}
    <style>
        /* tr:nth-child(even) {background-color: #f2f2f2} */
        th {
            font-size: 10pt;
            font-weight: normal;
            background-color: #79aec8;
            color: white;
        }
        .right {
          text-align: right;
          margin-right: 1em;
          padding:0 10px 0 10px;
        }

        .left {
          text-align: left;
          margin-left: 1em;
          padding:0 10px 0 10px;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo;
        <a href="{% url 'admin:app_list' 'books' %}">Books</a> &rsaquo;
        {%  comment %}Link to list of objects of same time as journaler.{% endcomment %}
        <a href="{{journaler.get_absolute_url}}">{{ journaler }}</a> &rsaquo;
        Journal Entries
    </div>
{% endblock %}

{% block content %}
    {% for je in journal_entries %}
        Entry dated {{ je.when }}:<br/>

        <table style="margin-left:10px">
        <tr><td class="left" colspan="2">Debits:</td></tr>
        {% for li in je.journalentrylineitem_set.all %}
            {% if li.isdebit %}
                <tr>
                    <td></td>
                    <td class="right">${{ li.amount }}</td>
                    <td class="left">{% if li.action == '>' %}increase{% else %}decrease{% endif %}</td>
                    <td class="left">{{ li.account }}</td>
                    <td class="left">{{li.description}}</td>
                </tr>
            {% endif %}
        {% endfor %}

        <tr><td class="left" colspan="2">Credits:</td></tr>
        {% for li in je.journalentrylineitem_set.all %}
            {% if li.iscredit %}
                <tr>
                    <td></td>
                    <td class="right">${{ li.amount }}</td>
                    <td class="left">{% if li.action == '>' %}increase{% else %}decrease{% endif %}</td>
                    <td class="left">{{ li.account }}</td>
                    <td class="left">{{li.description}}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}