
{% load staticfiles %}

<head>
    <title>BoD</title>

    <style>
        body { font-family:Arial; margin-left:20pt; margin-right:20pt; }
        h1 { font-size:22pt; margin-top:50px; }
        h2 { font-size:14pt; margin-top:20px; margin-bottom:0; }
        ul { font-size:10pt; }
        img { width:40px; margin-right:0pt; }
        td { vertical-align:center; text-align:center; width:33%; }
        span { font-size:10pt; font-weight:normal; }
        span.exp { color:red; }
    </style>

</head>

<body style="text-align:center">

    <h1><img src="{% static 'xerops/Big Bold X.png' %}" alt="Xerocraft Logo"/>erocraft<br/>Internal Systems</h1>

<table style="width:50%;" align="center">
    <tr>
        <td>
            <h2>Member Count<br/>Versus Date</h2>
            <a href="/members/desktop/member-count-vs-date/">chart</a>
        </td>
        <td>
            <h2>Monthly Earned<br/>M'ship Revenue</h2>
            <a href="/members/desktop/earned-membership-revenue/">chart</a> or
            <a href="/members/csv/monthly-accrued-membership/">csv</a>

        </td>
        <td>
            <h2>Revenue &amp; Expenses<br/>Versus Date</h2>
            <a href="/books/cumulative-rev-exp-chart/">chart</a>
        </td>
    </tr>
    <tr>
        <td colspan="3"><h2 style="margin-top:40px;"><a href="/">Main Menu</a></h2></td>
    </tr>

</table>

    {% if user.is_authenticated %}
        <h2 style="display:inline-block; padding:10px; padding-bottom:10px; background-color:#ffb3b3">
            <a href="/logout/">Logout {{ request.user }}</a>
        </h2>
    {% endif %}

</body>



