
#id_eligible_claimants_from,
#id_eligible_claimants_to,
#id_eligible_tags_from,
#id_eligible_tags_to,
#id_uninterested_from,
#id_uninterested_to {
    width: 200px;
    height: 100px;
}

.selector ul.selector-chooser {
    margin: 5em 5px 0 5px;
}

.selector-available, .selector-chosen {
    width: 200px;
}

.selector .selector-available input {
    width: 160px;
}

.description {
    margin-bottom: 5px;
}

