
{% load staticfiles %}

<head>
    <title>XIS Home</title>

    <style>
        body { margin-left:20pt; margin-right:20pt; }
        h1 { font-family:Arial; font-size:22pt; margin-top:50px; }
        h2 { font-family:Arial; font-size:14pt; margin-top:20px; }
        ul { font-family:Arial; font-size:10pt; }
        img { width:40; margin-right:0pt; }
        td { vertical-align:top; text-align:center; }
        span { font-size:10pt; font-weight:normal; }
        span.exp { color:red; }
    </style>

</head>

<body style="text-align:center">

    <h1><img src="{% static 'xerocraft/Big Bold X.png' %}" alt="Xerocraft Logo"/>erocraft<br/>Internal Systems</h1>

    {% if user.is_authenticated %}
    <h2><a href="/logout/">Logout {{ request.user }}</a></h2>
    {% endif %}

    <h2><a href="/tasks/desktop-timesheet/">Time-Sheet</a><br/><span>(work-traders only)</span></h2>
    <h2><a href="/members/desktop/member-tags">Member Tags</a></h2>
    <h2><a href="/admin/">Administration</a><br/><span>(authorized users only)</span></h2>

    <h2><a href="/members/create-card/">Create Membership Card</a><br/><span class="exp">(experimental)</span></h2>
    <h2><a href="/inventory/desktop/request-parking-permit">Request Parking Permit</a><br/><span class="exp">(experimental)</span></h2>
</body>



